@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Open+Sans|Roboto&display=swap');
@font-face
{
  font-family: 'Montserrat-Regular'; src: url(http://taekwon.eu/646985/fonts/Montserrat-Regular.ttf);
}

h1
{
  font-family: 'Montserrat-Regular';
  color: #777
}
h2
{
  font-family: 'Open Sans';
  color: #2699fb
}
header
{
  text-align: right;
}
#headvid
{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1

}
#cookie
{
    position: fixed;
    right: 0;
  	bottom: 0;
  	margin : 0;
  	padding : 1em;
  	z-index : 1;
  	background-color : #aaaaaa;
  	color : #f5f5f5;
  }
#topheader
{
  background-color: #f5f5f5
}
#nav
{
  background-color: #fff
}
main
{
  border: solid 0.25em;
  margin-top: 5em;
  background-color: #f5f5f5
}

#secSec, #secSport, #secRef, #secCon, #Footer
{
  border: solid 0.25em;
  border-color: #444444;
  margin-top: 5em;
  background-color: #f5f5f5;
}
ul
{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navA
{
  display:
  color:000000;
  padding: 1.5em;
  text-decoration: none;
}

button
{
  background-color: #2699fb;
  cursor: pointer;
  border: none;
  border-radius: 2em;
}

input, textarea
{
  background-color: #f5f5f5
  border: 0.5em
}

/* Grids in html*/
#overHaarlem
{

}
#artMain
{

}
#footMain
{

}
#secSec
{

}
#artSec
{

}
#footSec
{

}
#secSport
{

}
#Sport
{

}
#artNau
{

}
#asiNau
{

}
#artGW
{

}
#asiGW
{

}#artHWA
{

}
#asiHWA
{

}#artBlink
{

}
#asiBlink
{

}#artHockey
{

}
#asiHockey
{

}#artKras
{

}
#asiKras
{

}#artKano
{

}
#asiKano
{

}#artHJC
{

}
#asiHJC
{

}#artHLC
{

}
#asiHLC
{

}
#artKung
{

}
#asiKung
{

}
#footSport
{

}
#secRef
{

}
#ref
{

}
#artRef
{

}
#asiRef
{

}
footRef
{

}
#secCon
{

}
#Footer
{

}

#grid
{
  padding: 1.5em;
  display: grid;
  justify-content: center;
  grid-template-areas:
  ""
}

@@media screen and (min-width : 1280px)
  {

    .tablet, .mobile
    { display: none; }
    body
    { width: 1280px; margin: auto;}
    h1
    { font-size: 4em;}
    h2
    { font-size: 3em;}
    ul
    { font-size: 2em;}
    article
    {font-size: 1,7em}
    li
    {display: inline-block;}
    article, aside
    {
      padding: 0.9em;
      border: 0.4em;
      border-color: #000000;
      margin: 2em;
    }
    #cookie, #footer
    { font-size: 1,5em;}
    #secMain
    {

    }
    #secSec
    {

    }
    #secSport
    {

    }
    #secRef
    {

    }
    fieldset
    {
      margin: 25px;
    }
    button
    {
      padding: 3%;
      width: 20%;
      font-size: 1.4em;
    }
  }
