@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Open+Sans|Roboto&display=swap');
@font-face
{
  font-family: 'Montserrat-Regular'; src: url(http://taekwon.eu/646985/fonts/Montserrat-Regular.ttf);
}

h1
{
  font-family: 'Montserrat-Regular';
  color: #707070
}
h2
{
  font-family: 'Open Sans';
  color: #708070
}
header
{
  text-align: center;
}
#headvid
{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}
#nav
